
:root{
    --c-primary-light: #fff;
    --c-primary-dunckel: #404BBF;
    --c-dunckel: #2E2F42;
    --c-but: #4D5AE5;

}
body{
    color: #434455;
    background-color: var(--c-primary-light);
    font-family: "Roboto", sans-serif;
}

.logo {
    color: var(--c-primary-dunckel);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;
}
.logo .accent {
     color: var(--c-dunckel);
}

.nav-link {
    color: var(--c-dunckel);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
        text-decoration: none;
}
.nav-link:active {
color: var(--c-primary-dunckel);
}
.effect-section{
    background-color: var(--c-dunckel);
}
.effect{
color: var(--c-primary-light);
}
.effect-button{
    background: var(--c-but);
color: var(--c-primary-light);
    border: none;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
}
.effect-button:hover {
    background: var(--c-primary-dunckel);
color: var(--c-primary-light);
}
